*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 14px;
    color: white;
    background-image: linear-gradient(to right , #DA22FF , #9733EE );
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



#contain{
    width: 70%;
    height: 500px;
    background-color: rgb(253, 249, 249);
    margin: 50px auto;
    border: none;
    border-radius: 30px;
}