*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 14px;
    color: white;
    background-image: linear-gradient(to right , #DA22FF , #9733EE );
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a{
    text-decoration: none;
    transition: 0.4s;
    color: #3CD014;
}


#contain{
    width: 70%;
    height: 500px;
    background-color: rgb(253, 249, 249);
    margin: 50px auto;
    border: none;
    border-radius: 30px;
    padding: 20px;
}

#img-section{
    width: 300px;
    height: 460px;
    /* background-color: yellow; */
    padding-top: 110px;
    margin-left: 20px;
    float: left;
}
#img-section-item{
    width: 300px;
    height: 200px;
    background-color: #f5eaea;
    padding: 20px;
    border-radius: 44%;
    float: left;
}

#form-section{
    width: 570px;
    /* background-color: aqua; */
    float: left;
    /* height: 100px;           */
    text-align: center;
}
#form-section-item{
    padding: 20px;
}
#form-section-item h2{
    color: black;
}

form{
    padding: 20px;
}
.form-items{
    border: none;
    outline: none;
    /* background: red; */
    height: 40px;
    width: 84%;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: transparent;
    margin-left: 13px;
}

button{
    background-color: #3CD014 !important;
    cursor: pointer;
    border: none;
}

input:focus{
    outline: none;
}
#forgot-section{
    /* background-color: blueviolet; */
    color: #70e000;
    
}

#forgot-section span{
    color: black;
}

#create-account-section{
    padding-top: 18px;
    
}
a:hover{
    font-weight: bold;
}
.user{
    position: relative;
    left: -2px;
    color: #8d8383;
    font-weight: bold;
    width: 8px;
}
.info-section{
    width: 300px;
    height: 50px;
    /* border: 1px solid red; */
    margin: 20px auto;
    border-radius: 20px;
    background: #EEEEEE;
    padding: 5px;
}